@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600');
a {
  color: #64A4A2;
  font-weight: 400;
  text-decoration: none;
}
.allergies {
  margin-top: 50px;
  text-align: center;
}
.allergies strong {
  display: block;
}
.banner {
  height: auto;
}
@media screen and (max-width: 768px) {
  .banner {
    display: none;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  color: #4A4A4A;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
    width: 1200px;
  }
}
@media screen and (min-width: 760px) {
  body.grid-home {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "banner banner hrs" "banner banner about" "menu   orders about" "footer footer footer";
  }
}
body.grid-home .about {
  grid-area: about;
}
body.grid-home .banner {
  grid-area: banner;
}
body.grid-home footer {
  grid-area: footer;
}
body.grid-home header {
  grid-area: header;
}
body.grid-home .hrs {
  grid-area: hrs;
}
body.grid-home .menu {
  grid-area: menu;
}
body.grid-home .orders {
  grid-area: orders;
}
@media screen and (min-width: 600px) {
  body.grid-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body.grid-menu header,
  body.grid-menu footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  body.grid-menu .full-item {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media screen and (min-width: 800px) {
  body.grid-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body.grid-menu header,
  body.grid-menu footer {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  body.grid-menu .full-item {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
body.grid-menu .full-item {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 800px) {
  body.grid-menu .full-item {
    width: 50%;
    margin: 0 auto;
  }
}
button {
  display: block;
  background-color: #64A4A2;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 25px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}
dd {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 12px;
}
dt {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 12px;
}
footer {
  margin: 25px;
  border-top: 2px solid #5C7C4B;
  padding: 20px 25px 25px;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
}
@media screen and (min-width: 600px) {
  footer {
    width: 550px;
    margin: 0 auto;
  }
}
.grid-info {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-bottom: 12px;
}
.order-form button {
  grid-column-start: 2;
  grid-column-end: 3;
}
.order-form input,
.order-form textarea {
  grid-column-start: 2;
  grid-column-end: 4;
}
.order-form input {
  margin-left: 0;
}
.order-form label {
  grid-column-start: 1;
  grid-column-end: 2;
}
@media screen and (min-width: 600px) {
  .order-form {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 25px;
    grid-template-columns: 4fr 3fr 3fr 2fr;
  }
  .order-form label {
    text-align: right;
  }
  .order-form input {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .order-form textarea {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
h1 {
  font-family: "Teko", sans-serif;
  font-size: 4.3em;
  font-weight: 500;
  text-align: center;
  color: #5C7C4B;
  text-transform: lowercase;
  border-bottom: 2px solid #5C7C4B;
  margin: 0 0 25px 0;
  padding-bottom: 13px;
}
h1 a {
  color: #5C7C4B;
}
header {
  padding: 65px 25px 10px;
}
header img {
  display: block;
  margin: 0 auto;
}
.hrs {
  margin-top: 25px;
}
img {
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  .intro {
    width: 550px;
    margin: 0 auto;
  }
}
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  padding: 5px;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
}
label,
.radio {
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
}
li {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
}
main {
  box-sizing: border-box;
  padding: 25px;
}
.menu-item {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-size: 1em;
}
.menu-item img {
  display: block;
  margin: 0 auto;
}
.menu-item b {
  display: block;
  font-family: "Teko", sans-serif;
  font-size: 2.3em;
  font-weight: 700;
  color: #64A4A2;
  margin-bottom: 8px;
  text-transform: lowercase;
}
.menu-item.product b {
  font-weight: 500;
  font-size: 1.9em;
}
nav {
  margin-top: -6px;
  display: flex;
  justify-content: center;
}
nav a {
  color: #4A4A4A;
  font-weight: 300;
  display: block;
  padding: 2px 5px;
  margin: 0 33px;
  text-align: center;
  font-size: 2.3em;
  border-top: 3px solid transparent;
}
nav a.active {
  border-color: #C2762E;
  color: #C2762E;
  font-weight: 700;
}
.order {
  font-size: 1em;
  margin-top: 50px;
}
.order a {
  display: block;
  background-color: #64A4A2;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 25px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  color: white;
  border: none;
  outline: none;
}
p {
  font-size: 1.6em;
  line-height: 1.5625em;
  font-weight: 300;
  margin-bottom: 25px;
}
.page-home h2 {
  margin-top: 0;
}
strong {
  font-style: italic;
  font-weight: 600;
  color: #C2762E;
}
