// Imports
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Teko:500,600');

// Mixins
.body-copy() {
    font-size:1.6em;
    line-height: 2.5/1.6em;
    font-weight:300;
}
.btn(@width) {
    display: block;
    background-color: @color-aqua;
    margin:0 auto;
    box-sizing: border-box;
    padding:15px 25px;
    width:@width;
    .font-open-sans;
    font-size:1.6em;
    font-weight:400;
    text-align: center;
    color:white;
    border:none;
    outline:none;
}
.font-teko() { font-family: "Teko", sans-serif; }
.font-open-sans() { font-family: "Open Sans", sans-serif; }

// Variables
@color-aqua: #64A4A2;
@color-green: #5C7C4B;
@color-grey: #4A4A4A;
@color-orange: #C2762E;


// Phase 3a

a {
    color:@color-aqua;
    font-weight:400;
    text-decoration: none;
}

.allergies {
    margin-top:50px;
    text-align: center;
    strong { display: block; }
}

.banner {
    height:auto;
    @media screen and (max-width:768px) {
        display: none;
    }
}

body {
    .font-open-sans;
    font-size:62.5%;
    color:@color-grey;
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;

    @media screen and (min-width:1200px) {
        margin:0 auto;
        width:1200px;
    }

    &.grid-home {

        @media screen and (min-width:760px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "header header header"
                "banner banner hrs"
                "banner banner about"
                "menu   orders about"
                "footer footer footer";
        }

        .about { grid-area: about; }
        .banner { grid-area: banner; }
        footer { grid-area: footer; }
        header { grid-area: header; }
        .hrs { grid-area: hrs; }
        .menu { grid-area: menu; }
        .orders { grid-area: orders; }
    }
    &.grid-menu {
        @media screen and (min-width:600px) {
            grid-template-columns: 1fr 1fr 1fr;
            header, footer {
                grid-column-start: 1;
                grid-column-end: 4;
            }
            .full-item {
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }

        @media screen and (min-width:800px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            header, footer {
                grid-column-start: 1;
                grid-column-end: 5;
            }
            .full-item {
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }

        .full-item {
            box-sizing:border-box;
            width:100%;
            padding:0 20px;
            @media screen and (min-width:800px) {
                width:50%;
                margin:0 auto;
            }
        }
    }
}

button { .btn(250px); }

dd {
    .body-copy;
    margin-bottom:12px;
}

dt {
    .body-copy;
    margin-bottom:12px;
}

footer { 
    margin:25px;
    border-top:2px solid @color-green;
    padding:20px 25px 25px;
    text-align:center;
    .body-copy();
    @media screen and (min-width:600px) {
        width:550px;
        margin:0 auto; 
    }
}

.grid-info {
    display:grid;
    grid-template-columns:2fr 3fr;
}

.order-form {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:12px;
    margin-bottom:12px;
    button {
        grid-column-start:2;
        grid-column-end:3;
    }
    input, textarea {
        grid-column-start:2;
        grid-column-end:4;
    }
    input { margin-left:0; }
    label {
        grid-column-start:1;
        grid-column-end:2;
    }

    @media screen and (min-width:600px) {
        width:600px;
        margin:0 auto;
        margin-bottom:25px;
        grid-template-columns:4fr 3fr 3fr 2fr;

        label {
            text-align:right;
        }
        input {
            grid-column-start:2;
            grid-column-end:4;
        }
        textarea {
            grid-column-start:2;
            grid-column-end:5;
        }
    }   
}

h1 {
    .font-teko;
    font-size:4.3em;
    font-weight:500;
    text-align: center;
    color:@color-green;
    text-transform: lowercase;
    border-bottom:2px solid @color-green;
    margin:0 0 25px 0;
    padding-bottom:13px;
    a { color:@color-green; }
}

header {
    padding:65px 25px 10px;
    img {
        display: block;
        margin:0 auto;
    }
}

.hrs { margin-top:25px; }

img { max-width:100%; }

.intro {
    @media screen and (min-width:600px) {
        width:550px;
        margin:0 auto;
    }
}

input[type="date"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
    padding:5px;
    font-size:1.4em;
    .font-open-sans;
    font-weight:300;
    color:@color-grey;
    border:1px solid @color-grey;
}

label, .radio {
    margin-top:7px;
    margin-bottom:5px;
    display: block;
    .body-copy;
}    

li { .body-copy; }

main {
    box-sizing: border-box;
    padding:25px;
}

.menu-item {
    box-sizing: border-box;
    padding:20px;
    text-align:center;
    font-size:1em;
    img {
        display:block;
        margin:0 auto;
    }
    b {
        display: block;
        .font-teko;
        font-size:2.3em;
        font-weight:700;
        color:@color-aqua;
        margin-bottom:8px;
        text-transform: lowercase;
    }
    &.product b {
        font-weight:500;
        font-size:1.9em;
    }
}

nav {
    margin-top:-6px;
    display:flex;
    justify-content:center;
    a { 
        color: @color-grey; 
        font-weight:300;
        display:block; 
        padding:2px 5px;
        margin:0 33px;
        text-align:center;
        font-size:2.3em;
        border-top:3px solid transparent;
        &.active {
            border-color:@color-orange;
            color:@color-orange;
            font-weight:700;
        }
    }
}

.order {
    font-size:1em;
    margin-top:50px;
    a { .btn(250px); }
}

p { 
    .body-copy;
    margin-bottom:25px;
}

.page-home h2 { margin-top:0; }

strong {
    font-style: italic;
    font-weight:600;
    color:@color-orange;
}